 @page "/project/{Title}"

<h3>@Title</h3>

@if (!HasPlaytests)
{
    <p><em>Loading...</em></p>
}
else
{
    <table>
      <thead>
        <tr>
          <th>Active</th>
          <th>Name</th>
          <th>Version</th>
          <th>Research Question</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
    @foreach(var project in Playtests)
    {
        <tr>
          <td>@project.Active</td>
          <td>@project.Name</td>
          <td>@project.Version</td>
          <td>@project.ResearchQuestion</td>
          <td>@project.Description</td>
        </tr>
    }
      </tbody>
    </table>
}