 @page "/project"

<h3>@ProjectName</h3>

@if (!HasPlaytests)
{
    <p><em>Loading...</em></p>
}
else
{
    <table>
        <thead>
            <tr>
                <th>Active</th>
                <th>Name</th>
                <th>Version</th>
                <th>Research Question</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
    @foreach(var config in Configs)
    {
        <tr>
            <td>@config.Active</td>
            <td>@config.Name</td>
            <td>@config.Version</td>
            <td>@config.ResearchQuestion</td>
            <td>@config.Description</td>
            <td>
                <button class="btn btn-primary" @onclick="() => NavigateTo(config)">Go to play test</button>
            </td>
        </tr>
    }
        </tbody>
    </table>
}