 @page "/playtest"

<h1>Play Test Data</h1>

<h3>@PlaytestName</h3>


@if (!HasData)
{
    <p><em>Loading...</em></p>
}
else
{
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>StartTime</th>
                <th>Input</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var project in Data)
            {
                <tr>
                  <td>@project.Id</td>
                  <td>@GetDate(project.StartTime)</td>

                    <table>
                        <thead>
                            <tr>
                                <th>Start time</th>
                                <th>Duration</th>
                                <th>Key</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var input in project.Input)    
                            {
                                <tr>
                                    <td>@input.StartTime</td>
                                    <td>@input.Duration</td>
                                    <td>@input.Key</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <td>
                        <button class="btn btn-primary" @onclick="@(e => Export(@project))">
                            Export to csv
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}